<nb-layout>

  <nb-layout-column>

    <nb-card status="success">
      <nb-card-header>Select with static data</nb-card-header>
      <nb-card-body>
        <label>City:&nbsp;</label>
        <nb-select [(selected)]="selectedStaticItem">
          <nb-option *ngFor="let item of staticItems" [value]="item.id">{{item.label}}</nb-option>
        </nb-select>
      </nb-card-body>
    </nb-card>

    <nb-card status="warning">
      <nb-card-header>Select with dynamic data</nb-card-header>
      <nb-card-body>
        <label>Car:&nbsp;</label>
        <nb-select #dynamicSelect [(selected)]="selectedDynamicItem">
          <nb-option *ngFor="let item of dynamicItems" [value]="item.id">{{item.label}}</nb-option>
        </nb-select>
      </nb-card-body>
    </nb-card>

  </nb-layout-column>

</nb-layout>